
.btn-success:hover{
    background: #1B1933;
}
.la-1{
    display: block;
    padding: 7px 22px;
    width: 198px;
    background-color: #1B1933;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

