@media (min-width: 768px) {

    .p-md-4 {

        margin-top: 10px;
        margin-right: 2px;
        margin-bottom: 40px;

    }
}

.la {
    display: block;
    font-size: 19px;
    font-style: italic;

}

.btn-success:hover {
    background: #1B1933;
}

.la-1 {
    display: block;
    padding: 7px 22px;
    width: 198px;
    background-color: #1B1933;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}