@media (min-width: 768px) {

    .p-md-4 {

        margin-top: 10px;
        margin-right: 2px;
        margin-bottom: 40px;

    }
}


.la {
    display: block;
    font-size: 19px;
    font-style: italic;

}

.btn-success:hover {
    background: #1B1933;
}

.la-1 {
    display: block;
    padding: 7px 22px;
    width: 198px;
    background-color: #1B1933;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;
    display: block;
    margin-top: 10px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.form-group{
    margin: 5px 0;
}
.btn{
    margin: 15px 15px 0px 0px ;
   
}
#contentUM{
    background: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#contentTitulo{
     background: #1B1936; 
     color: #f0f0f0; 
     margin-top: 10vh; 
     border:  1px solid #f0f0f0; 
     border-radius: 5px; 
     padding: 10px; 
     box-shadow: 5px 5px 5px #fdca3f;
}

#pagination{
    display: flex;
    justify-content: end;
}

#consultaFolga{
    display: flex;
    justify-content: center;


}

